{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>ENERGIZING AND EMPOWERING THE NATION</h1>
<p>CREATING OPPORTUNITIES AND EMPOWERING COMMUNITIES WITH SOLAR ENERGY</p>
<p>Solar Philippines is the largest solar company in Southeast Asia with over 300 MW of generating capacity and 10,000 hectares of land area conducive for solar farms.</p>

    <p>Founded in 2013, we have been creating a path towards a renewable future by embarking on utility-scale solar farms that generate additional electricity supply for the Luzon grid, effectively increasing the productivity of many communities and customers.</p>  
    
   <p>By pioneering the development of solar energy zones, we believe that we are helping the Philippine solar energy industry eliminate barriers and grow further, creating opportunities to build more solar-fired facilities across the nation.</p>
{% endblock %}