{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>💻Welcome SOLAR PHILIPPINES!</h1>
<h2>Common Residential Uses of Solar Power</h2>
<h3>1.Provide electricity </h3>
<p> This is the most common way that solar power is used in most homes. Electricity is essential because most of the tasks and appliances in many homes depend on it to function.  Solar electricity is more beneficial because of its easy accessibility and cost-effectiveness.  Solar panel Vancouver generates electricity used in different functions and to power various appliances at home.</p>

<h3>2. Heating water</h3>
<p>With the increased cost of electricity and initiatives geared towards conserving the environment, most homes have solar water heaters. The energy from the sun is leveraged to heat water used in different functions at home such as washing clothes, utensils, bathing, cooking and others. The solar heater utilizes heat from the sun and transfers it to the water tank where the water is heated.</p>

<h3>3. Portable solar power</h3>
<p>Portable solar chargers are used to charge tablets, phones and other mobile devices in your home. The solar cells are integrated into the devices to keep them charged.</p>

<h3>4.Charging batteries </h3>
<p>All devices at home that work using a battery can be charged using solar power. Solar power can be used to charge storage batteries to help them power all the devices used in your home effectively.</p>

<h3>5.Lighting home </h3>
<p> Solar lights are found in almost all parts in a home including inside the houses, garden, landscape, garage and also security lights. Solar energy panels offer a less costly way to light your home, compared to electrical power.</p>
</ul>
<p>Please contact solar panel in Calatagan, if you need help with installing solar panels for your home. Thankyou!</p>
{% endblock %}